
.dropdown-menu {
    z-index: 9999 !important;
}

.ui-autocomplete {
    z-index: 1061 !important;
}

.ui-autocomplete {
    max-height: 20% !important;
    overflow-y: auto !important;
    /* prevent horizontal scrollbar */
    overflow-x: hidden !important;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 100px !important;
}

.tablecustome > tbody > tr > td,
.tablecustome > tbody > tr > th,
.tablecustome > tfoot > tr > td,
.tablecustome > tfoot > tr > th,
.tablecustome > thead > tr > td,
.tablecustome > thead > tr > th {
    padding: 5px 3px !important;
}
.table-no-bordered td {
    border-top: none !important;
    border-left: none !important;
    padding: 5px 3px !important;
}