
@{
    ViewBag.Title = "Sales Quotation";
}

<div class="row">
    <div class="col-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Create Sales Quotation</h3>
            <p class="text-muted m-b-30 font-13"></p>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtCustomer">Customer</label>
                        <input type="text" class="form-control" id="txtCustomer" placeholder="Enter Customer">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtName">Name</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Enter Name">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ddlContactPerson">Contact Person</label>
                        <select id="ddlContactPerson" class="form-control">
                            <option>select contact person</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtCustomerRefNo">Customer Ref. No.</label>
                        <input type="text" class="form-control" id="txtCustomerRefNo" placeholder="Customer Ref. No.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ddlLocalCurrency">Local Curreny</label>
                        <select id="dllLocalCurrency" class="form-control">
                            <option> select Local Currency</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="dllNoType">No Type</label>
                        <select id="dllNo" class="form-control">
                            <option>No Type</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtNo">No</label>
                        <input id="txtNo" class="form-control" id="txtNo" placeholder="No">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtStatus">Status</label>
                        <input id="txtStatus" class="form-control" id="txtStatus" placeholder="Status">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtPostingDate">Posting Date</label>
                        <input type="text" class="form-control mydatepicker" id="txtPostingDate" placeholder="dd/mm/yyyy">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtValidUntil">Valid Until</label>
                        <input type="text" class="form-control" id="txtValidUntil" placeholder="ValidUntil">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtDocumnetDate">Document Date</label>
                        <input type="text" class="form-control mydatepicker" id="txtDocumentDate" placeholder="dd/mm/yyyy">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtPlaceOfSupply">Place of Supply</label>
                        <input type="text" class="form-control" id="txtPlaceOfSuppy" placeholder="Place Of Supply">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="dllBranch">Branch</label>
                        <select id="dllBrach" class="form-control">
                            <option>Select Branch</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtBranchRegNo">Branch Reg. No.</label>
                        <input type="text" class="form-control" id="txtBranchRegNo" placeholder="Branch Reg. No.">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlItemServices">Item/Service Type.</label>
                                <select id="ddlItemServices" class="form-control">
                                    <option> Item</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlSummaryType">Summary Type.</label>
                                <select id="ddlSummaryType" class="form-control">
                                    <option> No Summary</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dtItemDetails">
                                    <thead class="thead">
                                        <tr>
                                            <th class="text-center"> Sr.No </th>
                                            <th class="text-center"> Item Code </th>
                                            <th class="text-center"> Description </th>
                                            <th class="text-center" width="5%">Qty. </th>
                                            <th class="text-center" width="5%">Price. </th>
                                            <th class="text-center" width="5%"> Total Before Discount. </th>
                                            <th class="text-center" width="5%"> Discount %. </th>
                                            <th class="text-center" width="5%"> Discount Amount %. </th>
                                            <th class="text-center"> TaxCode </th>
                                            <th class="text-center" " width="5%"> TaxAmount </th>
                                            <th class="text-center">Line Total</th>
                                            <th class="text-center"> Warehouse </th>
                                            <th></th>
                                        </tr>
                                    </thead><!-- /thead -->
                                    <tbody id="tbody">
                                        <tr class="text-center">
                                            <td><label class="lblSrNo">1</label></td>
                                            <td><input id="txtItemCode" type="text" class="form-control" value=""></td>
                                            <td><textarea id="txtAremark" class="form-control form-control-sm" )></textarea></td>
                                            <td><input id="txtQTY" type="text" class="form-control form-control-sm custom-select-sm form-control-sm-x number" value=""> </td>
                                            <td><input id="txtPrice" type="text" class="form-control form-control-sm custom-select-sm form-control-sm-x number" value="" readonly>  </td>
                                            <td> <input id="txtTotalBefore" type="text" class="form-control form-control-sm custom-select-sm form-control-sm-x number" value="" readonly> </td>
                                            <td> <input id="txtDiscountPer" type="text" class="form-control form-control-sm custom-select-sm form-control-sm-x number" value=""> </td>
                                            <td><input id="txtDiscountAmount" type="text" class="form-control form-control-sm custom-select-sm form-control-sm-x number" value="" readonly> </td>
                                            <td> <input id="txtTaxCode" type="text" class="form-control form-control-sm custom-select-sm form-control-sm-x number" value="">  </td>
                                            <td widtd="5%"> <input id="txtAmount" type="text" class="form-control form-control-sm custom-select-sm form-control-sm-x number" value="">  </td>
                                            <td><input id="txtQTY" type="text" class="form-control form-control-sm custom-select-sm form-control-sm-x number" value="" readonly> </td>
                                            <td> <label id="lblWarhouse"></label> </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Other Remarks</label>
                        <textarea type="text" class="form-control" id="txtOtherRemarks" rows="6"></textarea>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                    <div class="form-inline text-right">
                        <label for="exampleInputEmail1"><b>Total Amount Before Discount :</b></label>
                        <label type="text" class="form-control" id="lbTotalAmountl"></label>
                    </div>
                    <div class="form-inline text-right">
                        <label for="exampleInputEmail1"><b>Total Discount % :</b></label>
                        <label type="text" class="form-control" id="lblTotalDiscount"></label>
                    </div>
                    <div class="form-inline text-right">
                        <label for="exampleInputEmail1"><b>Total Tax :</b></label>
                        <label type="text" class="form-control" id="lblTotalTax"></label>
                    </div>
                    <div class="form-inline text-right">
                        <label for="exampleInputEmail1"><b>Document Total  :</b></label>
                        <label type="text" class="form-control" id="lblDocumentTotal"></label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="text-right">
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.mydatepicker').datepicker({
                todayHighlight: true,
                format: 'dd/mm/yyyy',
            }).datepicker("setDate", new Date());
            sapWEB.helper.GridHelper.init({ id: 'dtItemDetails', actionIndex: 12, rowFunc: Init, addBtn: true, deleteBtn: true })
        })
        function Init() {
            if ($(this)[0].id === 'btnAdd') {
            }
            return true;
        }
    </script>
}
